H1{
    color: #fff;
    margin: 10px;


}

.logo img{
  width: 75px;
  margin: 5px;
  border-radius: 5%;
  padding: 5px;

}

.social{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.twitter{
    margin: 5px;
    padding-right: 25px;
}

.instagram{
    margin: 5px;
}

.facebook{
    margin: 5px;
 }
 

* {
    box-sizing: border-box;
  }
  
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #3482B5;
    position: relative;
    display: flex;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #fff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      color: black;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

    body{
      background-image: url("../img/cbury_school.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: #0118Eb;
      background-position:top 50px left 0;
      margin: 0;
    }

    .about{
      background-color: #0074f0;
      font-family:Poppins;
      color: #fff;
      margin-top: 200px;
      padding: 15px;
     
    }


    

    .bg_info{
      background-color: #0074f0;
      color: #fff;
      padding: 15px;



    }

    .msg{
      background-color: #0074f0;

    }

    .msg_ttl{
      color: #fff;
    }

    .msg_txt{
      color: #fff;
      font-family: Poppins;
      padding: 15px;
      
      
    }

    .sign{
      font-family: "Cedarville Cursive";
      padding: 15px;
      color: #fff;

    }

    .credits{
      color: #fff;
      padding: 15px;



    }
  